{{define "Index"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja</title>
  </head>
  <body>
    <h1>Pet Loja</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Caixa de transporte</td>
          <td>Vermelha - Tamanho médio</td>
          <td>R$:29,90</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Arranhador</td>
          <td>Arranhador de Rampa</td>
          <td>R$: 59,42</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
{{end}}
